nz-radio-group{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.ant-table tfoot>tr>td, .ant-table tfoot>tr>th, .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
    padding: 1px 12px !important;
}