<nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeStatus($event)">
    <label nz-radio nzValue="pending">Սպասման մեջ</label>
    <label nz-radio nzValue="canceled">Չեղարկված</label>
</nz-radio-group>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="extraOrders">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th>Սկզբնակետ</th>
            <th>Վերջնակետ</th>
            <th>Ամսաթիվ</th>
            <th>Արժեք</th>
            <th>Ուղևորների քանակը</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of extraOrders; let ind = index">
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{data.connected_order_details?.client_details?.user?.first_name}}
                {{data.connected_order_details?.client_details?.user?.last_name}}
                <div> {{data.connected_order_details?.client_details?.phone_number}}</div>
            </td>
            <td>
                {{data?.connected_order_details?.start_address}}
            </td>
            <td>
                {{data?.connected_order_details?.end_address}}
            </td>
            <td>{{data?.connected_order_details?.date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                {{data.price}}
            </td>
            <td>{{data.person_count}}</td>
            <td [routerLink]="data.id" class="action-button edit" style="width:10px"><i nz-icon nzType="edit"></i> </td>
        </tr>
    </tbody>
</nz-table>