<nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeStatus($event)">
    <label nz-radio nzValue="pending">Սպասման մեջ</label>
    <label nz-radio nzValue="canceled">Չեղարկված</label>

</nz-radio-group>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="extraOrders">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th>Սկզբնակետ</th>
            <th>Վերջնակետ</th>
            <th>Ամսաթիվ</th>
            <th>Արժեք</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of extraOrders; let ind = index">
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{data.connected_order_details?.client_details?.user?.first_name}}
                {{data.connected_order_details?.client_details?.user?.last_name}}
                <div> {{data.connected_order_details?.client_details?.phone_number}}</div>
            </td>
            <td>
                {{data?.connected_order_details?.start_address}}
            </td>
            <td>
                {{data?.connected_order_details?.end_address}}
            </td>
            <td>{{data?.connected_order_details?.date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                {{data.price}}
            </td>
            <td (click)="onEditExtraOrders(ind)" class="action-button edit" style="width:10px"><i nz-icon
                    nzType="edit"></i>
            </td>
       
        </tr>
    </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Պատվեր" (nzOnCancel)="handleCancel()" nzWidth="870px">
    <div *nzModalContent>
        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Անուն</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input disabled nz-input
                                [value]="editItem?.connected_order_details?.client_details?.user?.first_name"
                                placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Ազգանուն</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input disabled
                                [value]="editItem?.connected_order_details?.client_details?.user?.last_name"
                                placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Հեռախոսահամար</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input disabled
                                    [value]="editItem?.connected_order_details?.client_details?.phone_number"
                                    placeholder="" />
                            </nz-form-control>
                        </nz-form-control>

                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Մեկնաբանություն</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input disabled nz-input
                                [value]="editItem?.connected_order_details?.client_details?.comment" placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Մեկնարկի հասցե</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input formControlName="startPointAddress" placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Վերջնակետ</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input formControlName="endPointAddress" placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">

                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Հեռախոսահամար</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                                <ng-template #addOnBeforeTemplate>
                                    <nz-select [formControl]="phoneNumberPrefix" class="phone-select">
                                        <nz-option nzLabel="+374" nzValue="+374"></nz-option>
                                    </nz-select>
                                </ng-template>
                                <input nz-input minLength="8" maxLength="8" formControlName="order_phone_number"
                                    type="number" placeholder="" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Պատվերի տեսակ</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input disabled [value]="'Ավտոմեքենա'" placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels" nzRequired>Ուղղություն</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-select class="w-100" formControlName="subroute">
                                <nz-option *ngFor="let subroute of subRoutes" [nzValue]="subroute"
                                    [nzLabel]="getLabel(subroute)">
                                </nz-option>
                            </nz-select>

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels" nzRequired>Ուղևորների քանակ</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-select class="w-100" formControlName="personCount">
                                <nz-option *ngFor="let seatCount of [4,5,6,7,8]" [nzValue]="seatCount"
                                    [nzLabel]="seatCount">
                                </nz-option>
                            </nz-select>

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels" nzRequired>Վարորդ</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <nz-select class="w-100" formControlName="driver">
                                <nz-option *ngFor="let dr of filteredDrivers" [nzValue]="dr.id"
                                    [nzLabel]="getLabelOfDrivers(dr)">
                                </nz-option>
                            </nz-select>

                        </nz-form-control>
                    </nz-form-item>
                </div> -->


            </div>
   
            <div nz-row [nzGutter]="24" class="d-flex align-items-center justify-content-between" *ngIf="isEditing">
                <div nz-col [nzSpan]="12">
                    <nz-date-picker class="w-100" formControlName="date"></nz-date-picker>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-select class="w-100" formControlName="time">
                        <nz-option *ngFor="let time of openTimes" [nzValue]="time.time" [nzLabel]="time.time">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
             
                <div nz-col [nzSpan]="12">
                    <nz-form-label class="inline-labels">Մեկնաբանություն</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input formControlName="comment" placeholder="" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
            </div>
        </form>
    </div>
    <!-- <div *ngIf="radioValue !== 'canceled'"> -->
        <div *nzModalFooter>
            <button *ngIf="radioValue !== 'canceled'" nz-button nzType="default" (click)="onCancelOrder()">Մերժել</button>
            <button *ngIf="radioValue !== 'canceled'" nz-button nzType="primary" (click)="onOrderSave()">Հաստատել</button>
        </div>
    <!-- </div> -->
</nz-modal>
<ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        Սա պարտադիր դաշտ է
    </ng-container>
</ng-template>