.calendar {
    width: 300px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    position: absolute;
    z-index: 9;
    background: white;
    top: 27px;
    left: -100px;
}


:host:ng-deep {
    .ant-table tfoot>tr>td, .ant-table tfoot>tr>th, .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
        padding: 2px !important;
    }
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
        display: none !important;
    }
}
.list {
    padding-top: 10px;
    margin-top: 15px;
}
.current-time {
    background-color: #2caf2d;
}
.active {
    background-color: #e2e2e2 !important;
}
.disable {
    color: #c1c1c1;
}

.error {
    color: red;
}
.title {
    background: white;
    padding: 10px;
    font-size: 22px;
}
.light {
    color: grey;
}
.margin-top-10 {
    margin-top: 10px;
}
.font-30 {
    font-size: 25px;
}
.m-bottom-15 {
    margin-bottom: 15px;
}
.active-route {
    background: #84db84 !important;
}
.margin-10 {
    margin: 10px 0;
    border-top: 1px solid #cccc;
    padding-top: 10px;
}
.margin-left-auto {
    margin-left: auto;
}
.margin-bottom-10 {
    margin: 10px 0;
}
.mr-5 {
    margin-left: 5px;
}
.scroll {
    max-height: 360px;
    overflow: auto;
}
.disabled {
    pointer-events: none !important;
    color: rgba(0, 0, 0, 0.25) !important;
}
.color-red {
    background-color: #fb8f8f !important;
}
// .ant-modal-body{
//     overflow-x: auto;
// }
.ant-table-row {
    background-color: white;
}
.color-green {
    background-color: #2caf2d;
    color: white;
    border-color: #2caf2d;
}
.cancel-item {
    border: 1px solid red !important;
}
.cancel-btns {
    button {
        margin: 3px;
        min-width: 47%;
    }
}

.red{
    background-color:  rgb(255, 77, 79);
}

.titleTamplate{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.modalBodyContainerOff{
  position: relative;
  overflow: hidden;
  min-height: 500px;
}

.modalBodyContainerOn{
  position: relative;
  overflow: hidden;
  min-height: 570px;
}

.formContainer{
  position: relative;
  width: 200%;
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
  transform: translateX(0%);
  transition: 1s;
}

.w-auto{
  width: 97% !important;
}


.secondFormInputSize{
  width: 380px;
}

.secondFormPhoneInputSize{
  width: 306px;
}

.switchOff{
  transform: translateX(0%);
}

.switchOffBody{
  height: 540px;
}

.switchOn{
  transform: translateX(-50%);
}

.switchButtonOn{
  background-color: #1890ff;
}

.switchButtonOff{
  background-color: #188fff77;
}

.ant-col{
  max-width: 95%;
}
