
.calendar{
    width: 300px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    position: absolute;
    z-index: 9;
    background: white;
    top: 27px;
    left: -100px;
}

.ant-table tfoot>tr>td, .ant-table tfoot>tr>th, .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
    padding: 1px 12px !important;
}

:host:ng-deep{
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
        display: none !important;
    }
}
.list{    

    padding-top: 10px;
    margin-top: 15px;
}
.current-time{
    background-color: #2CAF2D;
}
.active{
    background-color: #e2e2e2 !important;
}
.disable{
    color: #c1c1c1;
}
.error{
    color: red;
}
.light{
    color: grey;
}
.margin-top-10{
    margin-top:10px
}
.margin-10{
    margin:10px 0;
    border-top: 1px solid #cccc;
    padding-top: 10px;
}
.margin-left-auto{
    margin-left:auto
}
.margin-bottom-10{
    margin: 10px 0;
}
.mr-5{
    margin-left:5px
}
.scroll{
    max-height: 360px;
    overflow: auto;
}
.disabled{
    pointer-events: none !important;
    color: rgba(0,0,0,.25) !important;
}
.color-red{
    background-color: #fb8f8f !important;
}
// .ant-modal-body{
//     overflow-x: auto;
// }
.ant-table-row{
    background-color: white;
}
.color-green{
    background-color: #2CAF2D;
    color: white;
    border-color: #2CAF2D;
}
.cancel-item{
    border:1px solid red !important;
}
.cancel-btns{
    button{
    margin: 3px ;
    min-width: 47%;
    }

}