<nz-tabset class="main-routes" [nzSelectedIndex]="selectIndex" (nzSelectedIndexChange)="onChangeTab($event)">
    <nz-tab *ngFor="let item of mainRoutes" [nzTitle]="item.route_name">
        <div class="d-flex align-items-center justify-content-center">
            <div class="cursor-pointer d-flex" (click)="changeDate(-1)"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                </svg></div>
            <div (clickOutside)="closeCalendar()">

                <div class="cursor-pointer position-relative" (click)="openCalendar();$event.stopPropagation()">
                    {{selectedDate.value |
                    date:'dd-MM-yyyy'}}
                    <div class="calendar" *ngIf="isOpenCalendar"
                        [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
                        <nz-calendar (nzSelectChange)="openCalendar($event)" [formControl]="selectedDate"></nz-calendar>
                    </div>
                </div>
            </div>
            <div class="cursor-pointer d-flex" (click)="changeDate(1)"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg></div>
        </div>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="10">
                <div *ngFor="let item of subRouteInfos;let i=index">
                    <div class="title" [class.active-route]="subRouteInfo?.id == item?.id">{{getTableTitle(item)}}</div>
                    <app-subroute [selectInfo]="selectInfo" [isGetItem]="isGetItem" (getInfo)="getInformation($event,i)"
                        [index]="i" [info]="item" (resetItem)="resetItem($event)" [date]="selectedDate.value">
                    </app-subroute>
                </div>
            </div>
            <div nz-col [nzSpan]="14" *ngIf="isOpenInfo" nz-col>
                <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeStatus($event)">
                    <label nz-radio nzValue="approved">Ընդունված</label>
                    <label nz-radio nzValue="pending">Սպասման մեջ</label>
                </nz-radio-group>
                <div>
                    <div class="title-container">
                        <button [disabled]="timeItem.isDisabled" class="add-essence" nz-button nzType="primary"
                            (click)="showModal()">
                            Ավելացնել ուղևոր
                        </button>
                    </div>
                    <div class="scroll">
                        <nz-table nzBordered [nzFrontPagination]="false" [nzData]="userInfo">
                            <thead>
                                <tr>
                                    <th>N</th>
                                    <th>Ուղևոր</th>
                                    <th>Հեռ.</th>
                                    <th>Հասցե</th>
                                    <th>Տիպ</th>
                                    <th>Տեղ</th>
                                    <th>Անվճար</th>
                                    <th></th>
                                    <th *ngIf="radioValue == 'approved'"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let moderator of userInfo;let ind=index">
                                    <td>{{ind+1}}</td>
                                    <td>{{moderator?.client_details?.user?.first_name}}
                                        {{moderator?.client_details?.user?.last_name}}</td>
                                    <td>{{moderator?.client_details?.phone_number}}</td>
                                    <td>
                                        <span [class.light]="checkAddress(moderator) == 'Հասցե չկա'">
                                            {{checkAddress(moderator)}}</span>
                                        <!-- {{moderator?.start_address}} - {{moderator?.end_address}}</td> -->
                                    <td>{{getOrderType(moderator?.order_type)}}</td>
                                    <td>{{moderator?.person_count}}</td>
                                    <td>
                                        <label [disabled]="true" nz-checkbox [(ngModel)]="moderator.is_free"></label>
                                    </td>
                                    <td class="action-button edit" style="width:10px"><i
                                            *ngIf="!moderator.is_in_approved_orders && timeItem && !timeItem.isDisabled "
                                            (click)="onEditOrder(ind)" nz-icon nzType="edit"></i>
                                    </td>
                                    <td *ngIf="radioValue == 'approved'"> <label
                                            *ngIf="timeItem && !timeItem.isDisabled"
                                            [disabled]="moderator.is_in_approved_orders || moderator?.isDisabled"
                                            nz-checkbox [(ngModel)]="moderator.isSelect"
                                            (ngModelChange)="selectCheckbox($event,ind)"></label>
                                    </td>
                                    <td class="action-button delete" style="width:10px">
                                        <a *ngIf="(timeItem && !timeItem.isDisabled) && !moderator.is_in_approved_orders"
                                            [nzCancelText]="'Ոչ'" [nzOkText]="'Այո'" nz-popconfirm
                                            nzPopconfirmTitle="Դուք իսկապե՞ս ուզում եք ջնջել"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="onDeleteOrder(ind)">
                                            <!-- <i nz-icon nzType="edit"></i> -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <nz-modal [nzCancelText]="'Փակել'" [nzOkText]="'Հատատել'" [(nzVisible)]="isVisible"
                        [nzTitle]="userName" (nzOnCancel)="handleCancel()" nzWidth="870px" (nzOnOk)="onclientSave()">
                        <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
                            <div *ngIf="!isEditing" nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Անուն</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="first_name" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Ազգանուն</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="last_name" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div *ngIf="!isEditing" nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels" nzRequired>Հեռախոսահամար</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                                                <ng-template #addOnBeforeTemplate>
                                                    <nz-select [formControl]="phoneNumberPrefix" class="phone-select">
                                                        <nz-option nzLabel="+374" nzValue="+374"></nz-option>
                                                    </nz-select>
                                                </ng-template>
                                                <input maxLength="8" nz-input OnlyNumber formControlName="phone_number"
                                                    type="text" placeholder="" />
                                            </nz-input-group>
                                        </nz-form-control>
                                        <span class="error" *ngIf="isShowError">Նշված հեռախոսահամարով ուղևոր չի
                                            գտնվել</span>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Մեկնաբանություն</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="userComment" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div>Երթի տվյալներ</div>
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Մեկնարկի հասցե</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="startPointAddress" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Վերջնակետ</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="endPointAddress" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24">

                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Հեռախոսահամար</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                                                <ng-template #addOnBeforeTemplate>
                                                    <nz-select [formControl]="phoneNumberPrefix" class="phone-select">
                                                        <nz-option nzLabel="+374" nzValue="+374"></nz-option>
                                                    </nz-select>
                                                </ng-template>
                                                <input nz-input formControlName="order_phone_number" type="number"
                                                    placeholder="" />
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels" nzRequired>Պատվերի տեսակ</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <nz-select formControlName="orderType">
                                                <nz-option *ngFor="let order of orderTypes" [nzValue]="order.id"
                                                    [nzLabel]="order.name_en"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels" nzRequired>Ուղևորների քանակ</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input
                                                *ngIf="!validateForm.get('orderType').value || validateForm.get('orderType').value !== 2"
                                                nz-input formControlName="personCount" placeholder="" />

                                            <nz-select *ngIf="validateForm.get('orderType').value == 2" class="w-100"
                                                formControlName="personCount">
                                                <nz-option *ngFor="let seatCount of [4,5,6,7,8]" [nzValue]="seatCount"
                                                    [nzLabel]="seatCount">
                                                </nz-option>
                                            </nz-select>


                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Մեկնաբանություն</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                            <input nz-input formControlName="comment" placeholder="" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24" class="d-flex align-items-center justify-content-between"
                                *ngIf="isEditing">
                                <div nz-col [nzSpan]="12">
                                    <nz-date-picker class="w-100" formControlName="date"></nz-date-picker>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-select class="w-100" formControlName="time">
                                        <nz-option *ngFor="let time of openTimes" [nzValue]="time.time"
                                            [nzLabel]="time.time">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="24"
                                class="d-flex align-items-center margin-top-10 justify-content-between">
                                <div *ngIf="isEditing && radioValue == 'pending'" nz-col [nzSpan]="12">
                                    <nz-form-control>
                                        <label nz-checkbox formControlName="isChangeStatus">Փոխել կարգավիճակը</label>
                                    </nz-form-control>
                                </div>
                                <div nz-col [nzSpan]="12">
                                    <nz-form-label class="inline-labels">Անվճար</nz-form-label>
                                    <!-- <nz-form-item> -->
                                    <nz-form-control>
                                        <nz-switch formControlName="isFree"></nz-switch>
                                    </nz-form-control>
                                    <!-- </nz-form-item> -->

                                </div>
                            </div>
                        </form>

                    </nz-modal>
                </div>
                <div *ngIf="timeItem && !timeItem.isDisabled" class="margin-10" nz-row [nzGutter]="24">
                    <div class="d-flex align-items-center" nz-col [nzSpan]="12">
                        Ուղևորների քանակը {{userCounts}}
                    </div>
                </div>
                <div class="margin-bottom-10" nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-select class="w-100" nzShowSearch [(ngModel)]="driver">
                            <nz-option *ngFor="let dr of currentDriver" [nzValue]="dr.id"
                                [nzLabel]="getLabelOfDrivers(dr) ">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <button [disabled]="timeItem.isDisabled" nz-button nzType="text" nz-button nzType="primary"
                            (click)="addOrderByDriver()">Ավելացնել</button>
                    </div>
                </div>

                <div class="scroll">
                    <nz-table nzBordered [nzFrontPagination]="false" [nzData]="approvedOrders">
                        <thead>
                            <tr>
                                <th>N</th>
                                <th>Վարորդ</th>
                                <th>Մեքենայի մոդելը</th>
                                <th>Տեղ․</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'color-red':isCanceledByClient(data)}" class="cursor-pointer"
                                *ngFor="let data of approvedOrders; let index = index">
                                <td>{{index+1}}</td>
                                <td>{{data.driver_details.user.first_name}} {{data.driver_details.user.last_name}}
                                    <i (click)="changeDriverName(data)" nz-icon nzType="edit"></i>
                                </td>
                                <td> {{data.driver_details.car_model}}</td>
                                <td>{{data.driver_details.car_capacity}}/{{data.seat_count}}</td>
                                <td class="action-button edit" style="width:10px">
                                    <svg *ngIf="timeItem && !timeItem.isDisabled" (click)="addSelectedOrder(index)"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                    </svg>
                                </td>
                                <!--  *ngIf="timeItem && !timeItem.isDisabled" -->
                                <td class="action-button edit" style="width:10px"><i (click)="onEditOrderMembers(index)"
                                        nz-icon nzType="edit"></i>
                                </td>
                                <td class="action-button delete" style="width:10px">
                                    <a [class.disabled]="timeItem.isDisabled" [nzCancelText]="'Ոչ'" [nzOkText]="'Այո'"
                                        nz-popconfirm (nzOnConfirm)="onDeleteApprovedOrder(index)"
                                        nzPopconfirmTitle="Դուք իսկապե՞ս ուզում եք ջնջել" nzPopconfirmPlacement="bottom"
                                        class="d-flex">
                                        <!-- <i nz-icon nzType="edit"></i> -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </a>
                                </td>
                                <td> <img src="assets/viber.png" *ngIf="!timeItem.isDisabled" (click)="send(data)"
                                        style="height: 25px; width: 25px;" alt="">
                                    <span *ngIf="data.viber_message_sended">Ուղղարկված է </span>
                                    <!-- <button *ngIf="!data.viber_message_sended" (click)="send(data)" [disabled]="timeItem.isDisabled" nz-button nzType="text" nz-button
                                        nzType="primary">Ուղարկել</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>

                    <nz-modal nzWidth="500px" [nzTitle]="'Փոփոխել'" [nzCancelText]="'Փակել'"
                        (nzOnCancel)="handleCancelDriver()" [nzOkText]="'Հատատել'" (nzOnOk)="onSaveDriver()"
                        [(nzVisible)]="isVisibleDriverModal">
                        <nz-select class="w-100" nzShowSearch [formControl]="driverControl">
                            <nz-option *ngFor="let dr of modalDrivers" [nzValue]="dr.id"
                                [nzLabel]="getLabelOfDrivers(dr) ">
                            </nz-option>
                        </nz-select>
                    </nz-modal>

                    <nz-modal nzWidth="1100px" (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisibleOrderInfo">
                        <div *nzModalContent>
                            <nz-table nzBordered [nzFrontPagination]="false" [nzData]="orderMembers">
                                <thead>
                                    <tr>
                                        <th>N</th>
                                        <th>Ուղևոր</th>
                                        <th>Հեռ.</th>
                                        <th>Հասցե</th>
                                        <th>Տիպ</th>
                                        <th>Տեղ.</th>
                                        <th></th>
                                        <th>Ջնջել</th>
                                        <th>Մերժում</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [class.cancel-item]="moderator.order.canceled_by_client"
                                        *ngFor="let moderator of orderMembers;let ind=index">
                                        <td>{{ind+1}}</td>
                                        <td>{{moderator?.order?.client_details?.user?.first_name}}
                                            {{moderator?.order?.client_details?.user?.last_name}}</td>
                                        <td>{{moderator?.order?.client_details?.phone_number}}</td>
                                        <td><span [class.light]="checkAddress(moderator) == 'Հասցե չկա'">
                                                {{checkAddress(moderator)}}</span></td>
                                        <td>{{getOrderType(moderator?.order?.order_type)}}</td>
                                        <td>{{moderator?.order?.person_count}}</td>
                                        <td> <label [disabled]="moderator.order.canceled_by_client" nz-checkbox
                                                [(ngModel)]="moderator.isSelect"></label>
                                        </td>
                                        <td class="delete action-button">
                                            <a [nzCancelText]="'Ոչ'" [nzOkText]="'Այո'" nz-popconfirm
                                                nzPopconfirmTitle="Դուք իսկապե՞ս ուզում եք ջնջել"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="removeAndCancelOrder(moderator,ind)">
                                                <!-- <i nz-icon nzType="edit"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </a>
                                        </td>
                                        <td>
                                            <div *ngIf="!timeItem.isDisabled"
                                                class="cancel-btns d-flex align-items-center flex-wrap">
                                                <button (click)="approveCancelation(moderator.order.id,ind)"
                                                    *ngIf="moderator.order.canceled_by_client" nz-button nz-button
                                                    nzType="primary" class="color-green">Հաստատել</button>
                                                <button (click)="cancelCancelation(moderator)"
                                                    *ngIf="moderator.order.canceled_by_client" nz-button nz-button
                                                    nzType="primary" nzDanger>Չեղարկել</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div *nzModalFooter>
                            <button nz-button nzType="default" (click)="handleCancel()">Փակել</button>
                            <button *ngIf="!timeItem.isDisabled" nz-button nzType="primary"
                                (click)="onOrderSave()">Հաստատել</button>
                        </div>
                    </nz-modal>
                </div>
            </div>
        </div>

    </nz-tab>

</nz-tabset>