<div class="title-container">
    <h1>Պատվերներ</h1>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="orders">
    <thead>
        <tr>
            <th>N</th>
            <th>Ամսաթիվ</th>
            <th>Նստ.</th>
            <th>Հասցե</th>
            <th>Մեկն.</th>
            <th>Տեսակ</th>
        </tr>
    </thead>
    <tbody>
        <!-- routerLink="/dashboard/raiting-order/{{data.id}}" -->
        <tr *ngFor="let data of orders; let ind = index" [style.cursor]='"pointer"'>
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{data.date | date:'dd-MM-YYYY HH:mm'}}
            </td>

            <td>{{data?.person_count}}</td>
            <td> {{data?.start_address}} <span *ngIf="data?.end_address"> --> {{data?.end_address}}</span></td>
            <td>{{data.comment}}</td>
            <td>{{ (data?.status == 'approved')? 'Հաստատված' : 'Չեղարկված' }}</td>
        </tr>
    </tbody>
</nz-table>