.form {
    max-width: 300px;
    margin: auto;
    padding-top: 27px;
}

.form-margin {
    margin-bottom: 16px;
}

.form-forgot {
    float: right;
}

.form-button {
    width: 100%;
}
.title{
    margin-bottom: 10px;
}
.inline-labels{
    width: 100%;
    text-align: start;
}
