<form nz-form [nzLayout]="'inline'"
    [formGroup]="filterForm" (ngSubmit)="submitForm()">
                  
    <nz-form-item>
        <nz-form-control>
            <nz-form-label class="inline-labels">Ուղղություն</nz-form-label>
            <nz-select  nzPlaceHolder="Ընտեք ուղղությունը" formControlName="mainRoute">
                <nz-option *ngFor="let route of mainRoutes" [nzValue]="route.id" [nzLabel]="route.route_name">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item> 

    <nz-form-item>
        <nz-form-control >
            <div>
                <nz-form-label  >Սկիզբ</nz-form-label>
            </div>
            <nz-date-picker formControlName="startDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control >
            <div>
                <nz-form-label >Ավարտ</nz-form-label>
            </div>
        <nz-date-picker formControlName="endDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>           
            
    <nz-form-item>
        <nz-form-control>
            <div>
                <nz-form-label class="inline-labels">Քանակ</nz-form-label>
            </div>
            <nz-select   ngModel="10000"
             [style.width]='"100px"'formControlName="size">
                <nz-option nzValue="10000" nzLabel="Բոլորը"></nz-option>
                <nz-option nzValue="10" nzLabel="10"></nz-option>
                <nz-option nzValue="20" nzLabel="20"></nz-option>
                <nz-option nzValue="30" nzLabel="30"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>            
    <nz-form-item [style.width] = "'200px'">
        <nz-form-control >
            <nz-form-label class="inline-labels">Վարկանիշ</nz-form-label>
                <nz-select  
                  nzPlaceHolder="Ընտրեք տեսակը" formControlName="rating">
                    <nz-option *ngFor = 'let rating of optionRating'
                  [nzValue]="rating.value" [nzLabel]="rating.title"></nz-option>
                </nz-select>
        </nz-form-control>
    </nz-form-item>               
    <nz-form-item>
        <nz-form-control>
          <div>  <nz-form-label class="inline-labels"></nz-form-label></div>
            <button  [disabled]="filterForm.invalid" nz-button
         nzType="primary">Փնտրել</button>
        </nz-form-control>
    </nz-form-item>                        
</form>


<div [style.margin-top] = "'20px'" *ngIf = 'starRating.length'>
    <nz-table nzBordered   [nzShowPagination]='false' [style.width] = "'800px'"
     [nzTotal]="total" [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable   [nzData]="starRating">
      <thead>
          <tr>
              <th [style.width] = "'50px'">N</th>
              <th class="center" [style.width] = "'300px'">Վարորդ</th>
              <th class="center" [style.width] = "'50px'">
                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="star" aria-hidden="true">
                    <path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3zM664.8 561.6l36.1 210.3L512 672.7 323.1 772l36.1-210.3-152.8-149L417.6 382 512 190.7 606.4 382l211.2 30.7-152.8 148.9z"></path>
                </svg>
              </th>
              <th class="center"
               *ngFor = 'let title of keys'>
                  {{title.title}}
             </th>

          </tr>
      </thead>
      <tbody >
          <tr *ngFor = 'let driver of starRating,let i = index'
        >
              <td  class="center">{{ (i + 1)+((pageIndex-1)*10) }}</td> 
              <td  class="center">{{driver.driver_name}}</td>
              <td  class="center">
                  {{driver[rating]}}     
              </td >
              <td class="center" *ngFor = 'let value of keys'>
                {{driver[value.value]}}
              </td>

          </tr>
      </tbody>
    </nz-table>
</div>
<div *ngIf = 'isTable'class="noText">
    <p>Արդյունք չկա</p>
</div>