<form nz-form [nzLayout]="'inline'"
    [formGroup]="filterForm" (ngSubmit)="submitForm()">
                  
    <nz-form-item>
        <nz-form-control>
            <nz-form-label class="inline-labels">Ուղղություն</nz-form-label>
            <nz-select  nzPlaceHolder="Ընտեք ուղղությունը" formControlName="mainRoute">
                <nz-option *ngFor="let route of mainRoutes" [nzValue]="route.id" [nzLabel]="route.route_name">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item> 

    <nz-form-item>
        <nz-form-control >
            <div>
                <nz-form-label  >Սկիզբ</nz-form-label>
            </div>
            <nz-date-picker formControlName="startDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control >
            <div>
                <nz-form-label >Ավարտ</nz-form-label>
            </div>
        <nz-date-picker formControlName="endDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>           
            
    <nz-form-item>
        <nz-form-control>
            <div>
                <nz-form-label class="inline-labels">Քանակ</nz-form-label>
            </div>
            <nz-select   ngModel="10000"
             [style.width]='"100px"'formControlName="size">
                <nz-option nzValue="10000" nzLabel="Բոլորը"></nz-option>
                <nz-option nzValue="10" nzLabel="10"></nz-option>
                <nz-option nzValue="20" nzLabel="20"></nz-option>
                <nz-option nzValue="30" nzLabel="30"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>            
    <nz-form-item [style.width] = "'200px'">
        <nz-form-control >
            <nz-form-label class="inline-labels">Վարկանիշ</nz-form-label>
                <nz-select  
                  nzPlaceHolder="Ընտրեք տեսակը" formControlName="rating">
                    <nz-option *ngFor = 'let rating of optionRating'
                  [nzValue]="rating.value" [nzLabel]="rating.title"></nz-option>
                </nz-select>
        </nz-form-control>
    </nz-form-item>               
    <nz-form-item>
        <nz-form-control>
          <div>  <nz-form-label class="inline-labels"></nz-form-label></div>
            <button  [disabled]="filterForm.invalid" nz-button
         nzType="primary">Փնտրել</button>
        </nz-form-control>
    </nz-form-item>                        
</form>


<div [style.margin-top] = "'20px'" *ngIf = 'starRating.length'>
    <nz-table nzBordered   [nzShowPagination]='false' [style.width] = "'800px'"
     [nzTotal]="total" [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable   [nzData]="starRating">
      <thead>
          <tr>
              <th [style.width] = "'50px'">N</th>
              <th class="center" [style.width] = "'300px'">Վարորդ</th>
             <th class=" center" *ngFor = "let title of optionRating">
                 {{title.title}}
             </th>

          </tr>
      </thead>
      <tbody >
          <tr *ngFor = 'let driver of starRating,let i = index'
        >
              <td  class="center">{{ (i + 1)+((pageIndex-1)*10) }}</td> 
              <td  class="center">{{driver.driver_name}}</td>
              <td class="center" *ngFor = 'let value of optionRating'>
                {{driver[value.value]}}
              </td>

          </tr>
      </tbody>
    </nz-table>
</div>
<div *ngIf = 'isTable'class="noText">
    <p>Արդյունք չկա</p>
</div>