<div class="title-container">
    <h1>Ուղղություններ</h1>
    <button class="add-essence" nz-button nzType="primary" (click)="showModal()">
        Ավելացնել ուղղություններ
    </button>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="driverRouteTable">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th>Ազգանուն</th>
            <th>Հեռախոսահամար</th>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of driverRouteTable; let ind = index">
            <td style="width:10px">{{ ind + 1 }}</td>
            <td>
                {{data.user.first_name}}
            </td>
            <td>
                {{data.user.last_name}}
            </td>
            <td>{{data.phone_number}}</td>
            <td>{{data.user.username}}</td>
            <td class="action-button delete" style="width:10px">
                <a [nzCancelText]="'Ոչ'" [nzOkText]="'Այո'" nz-popconfirm
                    nzPopconfirmTitle="Դուք իսկապե՞ս ուզում եք ջնջել" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="onDeleteRoute(ind)">
                    <i nz-icon nzType="edit"></i>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal [nzCancelText]="'Փակել'" [nzOkText]="'Հատատել'" [(nzVisible)]="isVisible" nzTitle="Ուղղություն"
    (nzOnCancel)="handleCancel()" nzWidth="870px" (nzOnOk)="onRouteSave()">
    <nz-form-item>
            <nz-select nzPlaceHolder="Ընտեք ուղղությունը" [formControl]="currentroute">
                <nz-option *ngFor="let route of routes" [nzValue]="route.id" [nzLabel]="route.route_name">
                </nz-option>
            </nz-select>
        
    </nz-form-item>
</nz-modal>

<ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        Սա պարտադիր դաշտ է
    </ng-container>
</ng-template>