<div class="title-container">
    <div>
        <h1>Ուղևորներ</h1>
    </div>
    <div class="d-flex align-items-center">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [formControl]="search" (keyup.enter)="searchUser()" nz-input placeholder="Հեռ․" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button class="d-flex align-items-center justify-content-center" (click)="searchUser()" nz-button
                nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>
    <nz-radio-group [(ngModel)]="blockStatus" (ngModelChange)="onChangeBlockStatus($event)">
        <label nz-radio nzValue="all">Բոլորը</label>
        <label nz-radio nzValue="blocked">Բլոկավորվածներ</label>
    </nz-radio-group>
    <div class="d-flex align-items-center">
        <button class="add-essence" nz-button nzType="primary" (click)="showModal()">
            Ավելացնել ուղևոր
        </button>
    </div>
</div>

<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="clientTable">
    <thead>
        <tr>
            <th style="width:10px">N</th>
            <th>Անուն</th>
            <th>Ազգանուն</th>
            <th>Հեռ.</th>
            <th nzSortFn="true" nzSortPriority="1" (nzSortOrderChange)="sort($event,'approved_count')">Հաստատված</th>
            <th nzSortFn="true" nzSortPriority="2" (nzSortOrderChange)="sort($event,'canceled_count')">Չեղարկված</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of userTable.data; let ind = index">
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{data.user.first_name}}
            </td>
            <td>
                {{data.user.last_name}}
            </td>
            <td>{{data.phone_number}}</td>
            <td>{{data.orders_count}}</td>
            <td>{{data.canceled_orders}}</td>

            <td (click)="onEditclient(ind)" class="action-button edit" style="width:10px"><i nz-icon nzType="edit"></i>
            </td>
            <td class="action-button delete" style="width:10px">
                <nz-switch (ngModelChange)="changeUserStatus($event,data.id)" [(ngModel)]="data.user.is_active">
                </nz-switch>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [nzCancelText]="'Փակել'" [nzOkText]="'Հատատել'" [(nzVisible)]="isVisible" [nzTitle]="userName"
    (nzOnCancel)="handleCancel()" nzWidth="1000px" (nzOnOk)="onclientSave()">
    <nz-tabset (nzSelectedIndexChange)="onChangeTab($event)" [nzSelectedIndex]="activeTab">
        <nz-tab [nzTitle]="'Տվյալներ'">
            <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Անուն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="first_name" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Ազգանուն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="last_name" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Հեռախոսահամար</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="phone_number" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels">Մեկնաբանություն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback>
                                <input nz-input formControlName="comment" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-tab>
        <nz-tab *ngIf="userId" [nzTitle]="'Ուղղություններ'">
            <app-user-order [userId]="userId" [orders]="orders" [total]='size'></app-user-order>
        </nz-tab>
        <nz-tab [nzTitle]="'Գնահատումներ'">
            <app-user-review [clientRating]='clientRating' [count]='count' [userId]='userId'></app-user-review>
        </nz-tab>
    </nz-tabset>
</nz-modal>

<ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        Սա պարտադիր դաշտ է
    </ng-container>
</ng-template>