<div class="title-container">
    <h1>Վարորդներ</h1>
    <div class="d-flex align-items-center">
        <nz-select class="d-flex align-items-center" nzPlaceHolder="Ընտեք ուղղությունը" [(ngModel)]="mainRouteFiler"
            (ngModelChange)="changeFilter($event)">
            <nz-option nzValue="" [nzLabel]="'Բոլորը'"></nz-option>
            <nz-option *ngFor="let route of routes" [nzValue]="route.id" [nzLabel]="route.route_name">
            </nz-option>
        </nz-select>
    </div>
    <button class="add-essence" nz-button nzType="primary" (click)="showModal()">
        Ավելացնել վարորդ
    </button>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="salaryTable">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th>Ազգանուն</th>
            <th>Հեռախոսահամար</th>
            <th>Ուղղություն</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of salaryTable; let ind = index">
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{data.user.first_name}}
            </td>
            <td>
                {{data.user.last_name}}
            </td>
            <td>{{data.phone_number}}</td>
            <td>{{data?.driving_routes[0]?.main_route_details?.route_name}}</td>

            <td (click)="onEditsalary(ind)" class="action-button edit" style="width:10px"><i nz-icon nzType="edit"></i>
            </td>
            <td class="action-button delete" style="width:10px">
                <nz-switch (ngModelChange)="changeUserStatus($event,data.id)" [(ngModel)]="data.user.is_active">
                </nz-switch>

            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal [nzCancelText]="'Փակել'" [nzOkText]="'Հատատել'" [(nzVisible)]="isVisible" nzTitle="Վարորդ"
    (nzOnCancel)="handleCancel()" nzWidth="1000px" (nzOnOk)="onsalarySave()">
    <nz-tabset (nzSelectedIndexChange)="onChangeTab($event)" [nzSelectedIndex]="activeTab">
        <nz-tab [nzTitle]="'Տվյալներ'">
            <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Անուն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="first_name" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Ազգանուն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="last_name" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Հեռախոսահամար</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="phone_number" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի մոդելը</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="car_model" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">

                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի գույնը</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input class="w-100" [colorPicker]="validateForm.get('car_color').value"
                                    (colorPickerChange)="changeColorPicker('car_color',$event)"
                                    [style.background]="validateForm.get('car_color').value"
                                    [style.border-color]="validateForm.get('car_color').value" />

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի գույնի անունը հայերեն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="car_color_name_hy" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">

                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի գույնի անունը ռուսերեն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="car_color_name_ru" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի գույնի անունը անգլերեն</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="car_color_name_en" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">

                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի նստատեղերի քանակը</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input type="number" formControlName="car_capacity" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Մեքենայի համարանիշը</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <input nz-input formControlName="car_number" placeholder="" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-label class="inline-labels" nzRequired>Viber</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                                <nz-select nzPlaceHolder="" formControlName="viber_id">
                                    <nz-option nzCustomContent *ngFor="let viber of viberInfo" [nzValue]="viber.id"
                                        [nzLabel]="viber.name">
                                        <img class="avatar" [src]="viber.avatar" alt=""> {{viber.name}}
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>

                <app-driver-routes (removeRoute)="removeRoute($event)" (addRoute)="addRoute($event)"
                    [editIndex]="editId" [routes]="routes" [selectedRoutes]="item">
                </app-driver-routes>

            </form>
        </nz-tab>
        <nz-tab *ngIf="editId" [nzTitle]="'Ուղղություններ'">
            <app-routes-list [userId]="editId"></app-routes-list>
        </nz-tab>
    </nz-tabset>
</nz-modal>

<ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        Սա պարտադիր դաշտ է
    </ng-container>
</ng-template>