<nz-table nzBordered #userTable  [nzFrontPagination]="false" [nzData]="order?.result">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th *ngFor="let route of order.sub_routes">{{route.start_point_city.name_hy}} - {{route.end_point_city.name_hy}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of order?.result;let ind=index">
            <td>{{ind+1}}</td>
            <td>{{item.driver.name}}</td>
            <td *ngFor="let route of order.sub_routes"> {{item.driver[route.id].seat_count?item.driver[route.id].seat_count:0}}</td>
        </tr>
    </tbody>
</nz-table>