<div class="title-container">
    <h1>Ուղղություններ</h1>
    <button class="add-essence" nz-button nzType="primary" (click)="showModal()">
        Ավելացնել ուղղություն
    </button>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="routeTable">
    <thead>
        <tr>
            <th>N</th>
            <th>Անուն</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of routeTable; let ind = index">
            <td style="width:10px">{{ ind + 1 }}</td>
            <td>
                {{data.route_name}}
            </td>
            <td (click)="onEditRoute(ind)" class="action-button edit" style="width:10px"><i nz-icon nzType="edit"></i>
            </td>
            <td class="action-button delete " style="width:10px">
                <a [nzCancelText]="'Ոչ'" [nzOkText]="'Այո'" nz-popconfirm
                    nzPopconfirmTitle="Դուք իսկապե՞ս ուզում եք ջնջել" nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="onDeleteRoute(ind)" class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal [nzCancelText]="'Փակել'" [nzOkText]="'Հատատել'" [(nzVisible)]="isVisible" nzTitle="Ուղղություն"
    (nzOnCancel)="handleCancel()" nzWidth="870px" (nzOnOk)="onRouteSave()">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
                <nz-form-label class="inline-labels" nzRequired>Անվանումը</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                        <input nz-input formControlName="name" placeholder="Մուտքագրեք ուղղության անունը" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-label class="inline-labels">Աշխատակից</nz-form-label>
                <nz-form-item>
                    <nz-select nzPlaceHolder="Ընտրեք աշխատակցին" formControlName="moderator">
                        <nz-option *ngFor="let moderator of salaries" [nzValue]="moderator.id"
                            [nzLabel]="moderator.user.username">
                        </nz-option>
                    </nz-select>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item
            *ngIf="editIndex !== null && validateForm.get('routes') && validateForm.get('routes')['controls']">

            <ng-container *ngFor="let item of validateForm.get('routes')['controls'];let i=index">
                <div [formGroup]="item" class="d-flex justify-content-between align-items-baseline array-content">
                    <!-- <nz-form-label  class="inline-labels" >Ուղղություն</nz-form-label> -->

                    <div class="w-45">
                        <nz-select nzPlaceHolder="Start point" formControlName="start_point">
                            <nz-option *ngFor="let city of cityTable" [nzValue]="city.id" [nzLabel]="city.name_hy">
                            </nz-option>
                        </nz-select>
                        <label nz-checkbox formControlName="start_point_is_static">Ֆիքսված</label>
                        <div *ngIf="item.get('start_point_is_static').value">
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե հայերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="start_point_address_hy" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե անգլերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="start_point_address_en" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե ռուսերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="start_point_address_ru" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>

                        </div>
                    </div>
                    <div>-></div>
                    <div class="w-45">
                        <nz-select nzPlaceHolder="End point" formControlName="end_point">
                            <nz-option *ngFor="let city of cityTable" [nzValue]="city.id" [nzLabel]="city.name_hy">
                            </nz-option>
                        </nz-select>
                        <label nz-checkbox formControlName="end_point_is_static">Ֆիքսված</label>
                        <div *ngIf="item.get('end_point_is_static').value">
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե հայերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="end_point_address_hy" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե անգերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="end_point_address_en" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label class="inline-labels">Հասցե ռուսերեն</nz-form-label>

                                <nz-form-control>
                                    <input nz-input formControlName="end_point_address_ru" placeholder="" />
                                </nz-form-control>
                            </nz-form-item>

                        </div>
                    </div>
                </div>
                <div class="text-center margin-top-10">
                    <button nz-button nzType="dashed" class="add-button" (click)="saveSubList(i)">
                        Պահպանել
                    </button>
                </div>
            </ng-container>
            <div class="text-center margin-top-10"
                *ngIf="!validateForm.get('routes')['controls'] || (validateForm.get('routes')['controls'] && validateForm.get('routes')['controls'].length < 2)">
                <button nz-button nzType="dashed" class="add-button" (click)="addField()">
                    Ավելացնել ուղղություն
                </button>
            </div>
        </nz-form-item>



    </form>
</nz-modal>

<ng-template #userErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
        Սա պարտադիր դաշտ է
    </ng-container>
</ng-template>