.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th,
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
    padding: 1px !important;
    text-align: center;
}
:host::ng-deep {
    .ant-table table {
        width: 100% !important;
        th {
            text-align: center;
            padding: 4px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .ant-table-pagination.ant-pagination {
        display: none !important;
        margin: 0 !important;
    }
    tr:nth-child(odd) td:first-child {
        background-color: #e6af18;
    }
    tr:nth-child(even) td:first-child {
        background-color: #2caf2d;
    }
}
:host:ng-deep {
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
        display: none !important;
    }
}
.time {
    font-size: 12px;
}

.list {
    padding-top: 10px;
    margin-top: 15px;
    th {
        padding: 0;
    }
}
.current-time {
    background-color: #2caf2d;
    
}
.active {
    background-color: #2caf2d !important;
}
.disable {
    color: #c1c1c1;
}
.error {
    color: red;
}
.light {
    color: grey;
}
.margin-10 {
    margin: 10px 0;
    border-top: 1px solid #cccc;
    padding-top: 10px;
}
.margin-left-auto {
    margin-left: auto;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.mr-5 {
    margin-left: 5px;
}
.scroll {
    max-height: 360px;
    overflow: auto;
}
