<div class="table-item">
    <nz-table [nzScroll]="{y:windowHeight + 'px',x:'auto'}" nzBordered [nzFrontPagination]="false"
        [nzData]="subrouteInfo?.openTimes">
        <thead>
            <tr>
                <th style="width:100px">Ժամեր</th>
                <th>Փակել</th>
                <th>Սպասում</th>
                <th>Ընդ․</th>
                <th>Ձև․</th>
                <th>Սպ․</th>
                <th>Ազատ</th>
                <th>Ուղեբեռ</th>
            </tr>
        </thead>
        <tbody>
            <tr [id]="setId(data.start,index)"
                [ngClass]="{'disable':data.isDisabled,'current-time':(currentInterval && currentInterval.start == data.start && !data.isDisabled)}"
                class="cursor-pointer" *ngFor="let data of subrouteInfo?.openTimes; let ind = index">
                <td style="width:100px" (click)="getInformation(data)"><b class="time">{{data.start}}</b></td>
                <td class="action-button delete" style="width:10px">
                    <nz-switch [disabled]="data.isDisabled" [(ngModel)]="data.isBlocked"
                        (ngModelChange)="blockOrUnBlockHour($event,data)">
                    </nz-switch>
                </td>
                <td>
                    <label *ngIf="data.isBlocked" nz-checkbox [(ngModel)]="data.isActive"
                        (ngModelChange)="openOrCloseHour($event,data)"></label>
                </td>
                <td (click)="getInformation(data)">
                    {{ check(data.seat_count)}}
                </td>
                <td (click)="getInformation(data)">{{check(data.approved_seat_count)}}</td>
                <td (click)="getInformation(data)"> {{check(data.pending_seat_count)}}</td>
                <td (click)="getInformation(data)">{{check(data.seat_count) - check(data.approved_seat_count)}}</td>
                <td (click)="getInformation(data)">{{check(data.luggage_type_count)}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>