.ant-table tfoot>tr>td, .ant-table tfoot>tr>th, .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
    padding: 1px 12px !important;
}

:host:ng-deep{
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
        display: none !important;
    }
}
.w-33{
    width: 33.3%;
    margin-left: 5px;
}
.active{
    background-color: #e2e2e2;
}
.error{
    color: red;
}
.margin-10{
    margin:10px 0;
    border-top: 1px solid #cccc;
    padding-top: 10px;
}
.mr-5{
    margin-left:5px
}
.scroll{
    max-height: 360px;
    overflow: auto;
}