<form class="w-95" action="" [formGroup]="filterForm">
    <div class="m-0" nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
            <nz-form-label class="inline-labels">Ուղղություն</nz-form-label>
            <nz-form-item>
                <nz-form-control>
                    <nz-select nzPlaceHolder="Ընտեք ուղղությունը" formControlName="mainRoute">
                        <nz-option *ngFor="let route of mainRoutes" [nzValue]="route.id" [nzLabel]="route.route_name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-label class="inline-labels">Ամսաթիվ</nz-form-label>
            <nz-form-item>
                <nz-form-control>
                    <nz-date-picker nzPlaceHolder="Ընտրեք ամսաթիվ" formControlName="date"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-label class="unpoint-label inline-labels"></nz-form-label>
            <nz-form-item>
                <button (click)="getDailyOrders()" [disabled]="filterForm.invalid" nz-button
                    nzType="primary">Փնտրել</button>
            </nz-form-item>
        </div>
    </div>
</form>

<div class="d-flex align-items-center flex-wrap " *ngFor="let item of driverKeys">
    <b> {{item | date:'HH:mm'}}</b>
    <div class="card">
        <div class="d-flex align-items-center" *ngFor="let data of driverRoutes[item];let i=index">
            <span class="mr-1" *ngIf="data?.orders?.length">{{data?.orders[0]?.seat_count}} </span>
            {{data?.name}}
            <span class="ml-1" *ngIf="data?.orders?.length > 1">
                {{data?.orders[1]?.seat_count}}
            </span>
            <span class="ml-2 mr-1"><i>{{data?.orders[0]?.comment_note}} </i></span>
            <i class="cursor-pointer" (click)="changeComment(data?.orders[0],item,i,0)" nz-icon nzType="edit"></i>
        </div>
    </div>
</div>
<app-change-comment (close)="closeModal($event)" [isVisible]="isVisible" [order]="activeOrder"></app-change-comment>