<div class="title-container">
    <h1>Ուղղություններ</h1>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="orders">
    <thead>
        <tr>
            <th >N </th>
            <th>Ամսաթիվ</th>
            <th>Ուղղ․</th>
            <th>Նստ.</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of userTable.data; let ind = index"
        [style.cursor]='"pointer"'
         (click)='getAppovedOrder(data.id)'>
            <td style="width:10px">{{ (ind + 1)+((pageIndex-1)*10) }}</td>
            <td>
                {{transformDate(data.date)}}              
            </td>
            <td>
                {{data?.sub_route_details?.start_point_city?.name_hy}} - {{data?.sub_route_details?.end_point_city?.name_hy}}
            </td>
            <td>{{data?.seat_count}} <span *ngIf="data?.approved_order_orders?.length && data?.approved_order_orders?.length === 1 && data?.approved_order_orders[0]?.order?.order_type === 2">Անհատական</span></td>
        </tr>
    </tbody>
</nz-table>