.item {
    cursor: pointer;
    margin: 0 13px;
    outline: none !important;
}
.logo {
    border: 1px solid white;
    padding: 5px;
}
.active {
    color: #e6f7ff !important
}
mat-toolbar{
    height: auto !important;
    background-color: #2CAF2D;
    color: white;
    padding: 10px;
}
.main-content{
    margin: 10px;
}