.item {
    cursor: pointer;
    margin: 0 13px;
    outline: none !important;
    font-size: 18px;
    padding: 2px;
}
.logo {
    padding: 5px;
    img{
        width: 50px;
    }
}
.active {
    
    color: rgb(209 245 233) !important;
    border: 1px solid white;
}
mat-toolbar{
    height: auto !important;
    background-color: #2CAF2D;
    color: white;
    padding: 10px;
}
.notification{
    position: relative;
    svg{
        cursor: pointer;
        color: white;
    }
    .notification-item{
        position: absolute;
        top: 33px;
        background: white;
        height: auto;
        max-height: 340px;
        overflow-y: auto;
        z-index: 9999;
        width: fit-content;
        right: 0;
        color: black;
        // padding:7px;
        .items{
            padding:0 7px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            &:hover{
                background: #e4e4e4;
            }
            .item{
                font-size: 15px;
               
                margin-left: 5px;
            }
        }
      
    }
}
.created{
    background-color: #bbebbb;
}
.canceled{
    background-color: #ffc7c7;
}
.main-content{
    margin: 10px;
}