.item {
    cursor: pointer;
    margin: 0 6px;
    outline: none !important;
    font-size: 18px;
    padding: 2px;

}
a{
    color: white !important;
}
.logo {
    padding: 5px;
    img {
        width: 50px;
    }
}
:host::ng-deep {
    .extra-order-count {
        .ant-scroll-number {
            top: -8px;
        }
    }
}
.active {
    color: rgb(209 245 233) !important;
    border: 1px solid white;
}
mat-toolbar {
    height: auto !important;
    background-color: #2caf2d;
    color: white;
    padding: 10px;
}
nz-badge {
    span {
        font-size: 18px;
        color: white;
    }
}

.main-content {
    margin: 10px;
}
