<div class="driver">
    <p class="city">
      
        {{appovedItems?.sub_route?.start_point_city?.name_hy}} -
        {{appovedItems?.sub_route?.end_point_city?.name_hy}}
        
         <span>{{appovedItems?.date|date:'short'}}</span>
    </p>
    <p class="fullName">
        {{appovedItems?.driver?.user?.first_name}}
        {{appovedItems?.driver?.user?.last_name}}
    </p>
</div>

<nz-table nzBordered  [nzTotal]="total" [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex" [nzFrontPagination]="false" #userTable [nzData]="appovedItems">

  <thead>
          <tr>
              <th class="center">N</th>
              <th class="center" >Ուղևոր</th>
              <th class="center"x>Վարորդ</th>
              <th class="center">Մեքենա</th>
              <th class="center">Սերվիս</th>
              <th class="center">   
              <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1.5em" height="1.5em" data-icon="star" aria-hidden="true"><path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 00.6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0046.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3zM664.8 561.6l36.1 210.3L512 672.7 323.1 772l36.1-210.3-152.8-149L417.6 382 512 190.7 606.4 382l211.2 30.7-152.8 148.9z"></path></svg>
              </th>
              <th class="center">Մեկնաբանություն</th>
              <th class="center">Ամսաթիվ</th>
          </tr>
      </thead>
      <tbody >
        <tr *ngFor = 'let order of appovedItems?.approved_order_orders,let i = index'>
            <td class="center">{{ (i + 1)+((pageIndex-1)*10) }}</td>
            <td class="center">
                <span 
                *ngIf = 'order?.order?.user?.user?.first_name && order?.order?.user?.user?.last_name'>
                    {{order?.order?.user?.user?.first_name}}
                    {{order?.order?.user?.user?.last_name}} - 
                </span>
                <span
                 *ngIf = '!order?.order?.user?.user?.first_name && !order?.order?.user?.user?.last_name' >
                    մարդկանց քանակը -
                </span>
                <span>
                    {{order?.order?.person_count}}
                </span>
                <p  [style.margin]='"0px"'>{{order?.order?.user?.phone_number}}</p>
            </td>
            <td class="center">
                    {{order?.order?.rating? order?.order?.rating?.rate_driver:'-'}} 
            </td>
            <td class="center">{{order?.order?.rating? order?.order?.rating?.rate_car:'-'}}</td>
            <td class="center">{{order?.order?.rating? order?.order?.rating?.rate_service:'-'}}</td>
            <td class="center">{{order?.order?.rating? order?.order?.rating?.rate_avg:'-'}}</td>
            <td class="center">{{order?.order?.rating? order?.order?.rating?.comment:'-'}}</td>
            <td class="center">
                <p *ngIf ='order?.order?.rating'>
                    {{order?.order?.rating?.created_at|date:'short'}}
                </p>
                <p *ngIf ='!order?.order?.rating'>
                    -
                </p>
            </td>
        </tr>
      </tbody>
</nz-table>
