/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.title-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    h1 {
        margin-right: 5px;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.delete {
    svg {
        margin: auto;
        color: #ff4d4f;
        font-size: 20px;
    }
}
td {
    svg {
        display: flex;
    }
}
.trash {
    color: #ff4d4f;
    font-size: 20px;
}
.action-button {
    i {
        cursor: pointer;
    }
}
.ant-modal {
    top: 50px !important;
}
.ant-pagination {
    flex-wrap: wrap;
    li{
        margin-top: 2px;
    }
}
.ant-table-content{
    overflow: auto;
}
* {
    outline: none !important;
}

.ant-modal-body {
    padding: 9px 13px !important;
}

.sm-ant {
    .ant-form-item {
        margin-bottom: 10px !important;
    }
}
.main-route-tab {
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav,
    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav {
        margin: 0 !important;
    }
}

.ant-message {
    z-index: 99999999999999999999999999999999 !important;
}
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-disabled .ant-picker-time-panel-cell-inner {
    display: none !important;
}
.ant-table-tbody {
    background: white;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    height: 16px !important;
}

.ant-form-item-label > label::after {
    content: "" !important;
}
.required-field {
    color: red;
    width: 100%;
}
.table-item {

}
