/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.title-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    h1{
        margin-right: 5px;
    }
}
.delete{
    svg{
        color: #ff4d4f;
        font-size: 20px;   
    }
}
.trash{
    color: #ff4d4f;
    font-size: 20px;
}
.action-button{
    cursor: pointer;
}