/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.title-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    h1{
        margin-right: 5px;
    }
}
.cursor-pointer{
    cursor:pointer
}
.delete{
    svg{
        margin: auto;
        color: #ff4d4f;
        font-size: 20px;   
    }
}
td{
    svg{
        display: flex;
    }
}
.trash{
    color: #ff4d4f;
    font-size: 20px;
}
.action-button{
    i{
    cursor: pointer;
    }
}
.ant-table-tbody{
    background: white;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
    height: 16px !important;
}

.ant-form-item-label>label::after{
    content: '' !important;
}
.required-field{
    color: red;
    width: 100%;
}
.table-item{
    // .ant-table-title{
    //     position: sticky;
    //     top: 0;
    //     z-index: 2;
    //     background: white
    // }
}