
<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
  <div class="title-container justify-content-center">
    <h1>Մուտք</h1>
   
  </div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Խնդրում եմ մուտքագրեք Ձեր անունը">
        <nz-input-group >
          <input type="text" nz-input formControlName="username" placeholder="Անուն" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Խնդրում եմ մուտքագրեք Ձեր գաղտնաբառը">
        <nz-input-group >
          <input type="password" nz-input formControlName="password" placeholder="Գաղտնաբառ" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Մուտք</button>
  </form>