<div class="d-flex table-content flex-wrap">
    <div class="table-item w-45">
        <app-routes [array]="routeTable" [total]="routeTotal"></app-routes>
    </div>
    <div class="table-item w-45">
        <app-city [array]="cityTable" [total]="cityTotal"></app-city>
    </div>
    <div class="w-45 table-item">
        <app-other-routes-time [array]="otherRoutesTime"></app-other-routes-time>
    </div>
    <div class="w-80 table-item">
        <app-phone [array]="phoneTable" [total]="phoneTotal"></app-phone>
    </div>
    <div class="w-80 table-item">
        <app-seats-price [seatsPriceList]="seatsPriceList"></app-seats-price>
    </div>
    <div class="w-80 table-item">
        <app-route-prices></app-route-prices>
    </div>
</div>